<%- model_class = Team -%>
<div class="page-header">
  <h1><%=t '.title', :default => Team %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Racer Name</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>

      <% team.racers.each do |racer| %>
          <tr>
            <td />
            <td><%= racer.name %></td>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

