<%= form_for :dump, :url => {:action => 'upload_csv'}, :html => {:multipart => true} do |f| %>

    <table>
      <tr>
        <td>
          <label for='dump_file'>
            Select a CSV file.  Must be comma separated, not tab delimited. Must have header row with Id,Run1,Run2 columns (others, such as name are fine).
          </label>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.file_field :file %>
        </td>
      </tr>
      <tr>
        <td>
          <%= submit_tag 'submit' %>
        </td>
      </tr>
    </table>

<% end %>

